<!DOCTYPE html>
<html>
<head>
  <title>TenantDomains</title>
  <%= stylesheet_link_tag    "tenant_domains/application", media: "all" %>
  <%= javascript_include_tag "tenant_domains/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
